
@model InfoOras.Models.OrasViewModel


@{
 ViewBag.Title = "Details";
}


<div>
 <h4>Details City</h4>
 <hr />

 <ul class="navbar-nav mr-auto">
  <li class="nav-item">@Html.ActionLink("Transport", "Index", "Tramsport", new { id = Model.ID }, null)</li>
 </ul>
 <dl class="dl-horizontal">
  <dt>
   @Html.DisplayNameFor(model => model.Oras)
  </dt>

  <dd>
   @Html.DisplayFor(model => model.Oras)
  </dd>

  <dt>
   @Html.DisplayNameFor(model => model.Judet)
  </dt>

  <dd>
   @Html.DisplayFor(model => model.Judet)
  </dd>

  <dt>
   @Html.DisplayNameFor(model => model.Lat)
  </dt>

  <dd>
   @Html.DisplayFor(model => model.Lat)
  </dd>

  <dt>
   @Html.DisplayNameFor(model => model.Long)
  </dt>

  <dd>
   @Html.DisplayFor(model => model.Long)
  </dd>

 </dl>
</div>
<p>
 @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
 @Html.ActionLink("Back to List", "Index")
</p>
