
@model InfoOras.Models.OrasViewModel


@{
 ViewBag.Title = "Details";
}


<div>
 <h4>Details City</h4>
 <hr />
 <div class="container">
  <div class="row">
   <div class="col-lg-12">

    <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
   
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
     </button>

     <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav mr-auto">
       <li class="nav-item">@Html.ActionLink("Transport", "Index", "Tramsport", new { id = Model.ID }, null)</li>
       <li class="nav-item">@Html.ActionLink("Gms", "Index", "Gms", new { id = Model.ID }, null)</li>
       <li class="nav-item">@Html.ActionLink("Locatii", "Index", "Locatie", new { id = Model.ID }, null)</li>
      </ul>
   
     </div>
    </nav>
   </div> <!--col-lg-12-->
  </div> <!--row-->
 </div> <!--container-->

 <dl class="dl-horizontal">
  <dt>
   @Html.DisplayNameFor(model => model.Oras)
  </dt>

  <dd>
   @Html.DisplayFor(model => model.Oras)
  </dd>

  <dt>
   @Html.DisplayNameFor(model => model.Judet)
  </dt>

  <dd>
   @Html.DisplayFor(model => model.Judet)
  </dd>

  <dt>
   @Html.DisplayNameFor(model => model.Lat)
  </dt>

  <dd>
   @Html.DisplayFor(model => model.Lat)
  </dd>

  <dt>
   @Html.DisplayNameFor(model => model.Long)
  </dt>

  <dd>
   @Html.DisplayFor(model => model.Long)
  </dd>

 </dl>
</div>
<p>
 @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
 @Html.ActionLink("Back to List", "Index")
</p>
