@model IEnumerable<InfoOras.Models.Ora>

@{
    ViewBag.Title = "Index";
}

<h2>Orase</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
 
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Oras)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
